doctype html
html
  head
    title User Details
    link(rel='stylesheet' type="text/css" href='/css/style.css')
  body
    h1 User Details
    p ID: #{user.id}
    p Name: #{user.name}
    a(href='/users') Back to Users List